@use './style/variables.scss' as *;
@import './style/fonts.scss';

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: $screen-width-sm) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, 'Roboto', 'Ubuntu', sans-serif;
}


