@use '../../style/variables.scss' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 3em;
  padding: 0 1em;
  border-radius: 0.25rem;
  border: none;

  background-color: $color-background-button;
  color: white;

  transition: transform 50ms ease-in-out;

  &:hover,
  &:focus {
    background-color: darken($color-background-button, 5%);
    cursor: pointer;
  }

  &:active {
    background-color: darken($color-background-button, 10%);
    transform: scale(0.97);
  }

  &:disabled {
    background-color: darken($color-background, 30%);
    transform: none !important; 
    cursor: auto;
  }

  .spinner {
    margin: 0;
    width: 0.7em;
    height: 0.7em;
    margin-left: 0.5em;
  }
}