$screen-width-xs: 576px;
$screen-width-sm: 768px;
$screen-width-md: 992px;
$screen-width-lg: 1200px;
$screen-width-xl: 1400px;

$color-background: #ffffff;
$color-background-card: #eaeaea;
$color-background-footer: #212121;
$color-background-decor: #ffe4c4;

$color-button: #ffffff;
$color-background-button: #316a98;

$color-checkbox: #323232;
$color-background-checkbox: #ffffff;
$color-border-checkbox: #454545;

$color-link: #212121;
$color-link-extra: #5f0404;
$color-footer: #f5f5f5;
