@use '../../style/variables.scss' as *;

.heading {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: 200;
  text-align: center;
  padding: 1em;
  display: block;
  margin: 1em auto;
  width: fit-content;
  
  border-radius: 0.25em;
  background-color: rgba($color-background-decor, 0.1);
  backdrop-filter: blur(10px);

  @media screen and (max-width: $screen-width-sm) {
    padding: 0.5em 1em;
    font-size: 1.5em;
    background-color: rgba($color-background-decor, 0.2);
  }

  @media screen and (max-width: $screen-width-xs) {
    padding: 0;
    width: 100%;
    margin: 0.5em 0;
  }
}
