@use '../../../style/variables.scss' as *;

.form {
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 1.5em 3em -1em rgba(black, 0.5);
  border-radius: 0.5em;
  padding: 1em 2em;
  backdrop-filter: blur(50px);

  @media screen and (max-width: $screen-width-md) {
    padding: 0.5em 1em;
  }

  @media screen and (max-width: $screen-width-sm) {
    padding: 0.5em;
  }

  &_row {
    display: grid;
    grid-template-columns: repeat(2, 3fr) 1fr;
    column-gap: 1em;
    margin: 0.5em 0 1.5em;

    @media screen and (max-width: $screen-width-sm) {
      grid-template-columns: 1fr;
      margin: 0 0 0.5em;
      column-gap: 0;
      row-gap: 0.5em;
    }
  }

  &_control {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
}

.button__extra {
  margin-right: 1em;
  background-color: transparent;
  color: $color-link-extra;
  text-decoration: underline dotted;
  padding: 0;
 
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    text-decoration: none;
    transform: none;
  }
}

.sort {
  width: fit-content;
  padding: 1em 2em;
  border-radius: 0.5em;
  overflow: hidden;
  backdrop-filter: blur(50px);
  margin: 1em 0;

  @media screen and (max-width: $screen-width-xs) {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
  }
}

.content {
  padding: 1em 2em;
  overflow: hidden;
  margin: 1em 0;
  border-radius: 0.5em;
  text-align: center;
  backdrop-filter: blur(50px);
  background-color: rgba($color-background-decor, 30%);
}

.spinner {
  width: 6em;
  height: 6em;
  
  @media screen and (max-width: $screen-width-md) {
    width: 4em;
    height: 4px;
  }

  @media screen and (max-width: $screen-width-sm) {
    width: 3em;
    height: 3em;
  }
}