@use '../../../style/variables.scss' as *;

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1em;
  column-gap: 1em;

  @media screen and (max-width: $screen-width-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $screen-width-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $screen-width-xs) {
    grid-template-columns: 1fr;
  }
}

.item {
  width: 100%;
}

.skeleton {
  width: 100%;
  padding-bottom: 120%;
}